@import "variables.css";
@import "normalize.css";
@import "font.css";
@import "reset.css";

/* colors defined in variables.css */
:root {
	/* font */
	--sans:
		"Baloo Bhai", -apple-system, BlinkMacSystemFont, Helvetica, Arial,
		sans-serif;
	--serif: Iowan Old Style, Times New Roman, Times, serif;
	--sans-hed:
		"Bowlby One SC", -apple-system, BlinkMacSystemFont, Helvetica, Arial,
		sans-serif;
	--mono: Menlo, Consolas, Monaco, monospace;

	/* z-index */
	--z-bottom: -100;
	--z-middle: 0;
	--z-top: 100;
	--z-overlay: 1000;

	/* presets (used in reset.css) */
	--border-radius: 12px;
	--font-body: var(--sans);
	--font-form: var(--serif);
	--color-bg: var(--color-yellow);
	--color-heading: var(--color-fg);
	--color-fg: var(--color-gray-900);
	--color-primary: var(--color-red);

	--color-link: currentColor;
	--color-link-hover: currentColor;
	--color-focus: var(--color-white);
	--color-mark: var(--color-white);
	--color-selection: var(--color-gray-300);
	--color-border: var(--color-gray-300);
	--color-button-bg: var(--color-orange);
	--color-button-fg: var(--color-fg);
	--color-button-hover: var(--color-button-bg);
	--color-input-bg: var(--color-gray-50);
	--color-input-fg: var(--color-gray-900);
	--color-placeholder: var(--color-gray-500);

	--col-width: 32em;
	/* "1" second duration */
	--1s: 1ms;
}

/* dark theme */
/* @media screen and (prefers-color-scheme:dark) {
	:root {
		
	}
} */

@media screen and (prefers-reduced-motion: no-preference) {
	:root {
		--1s: 1s;
	}
}

body {
	line-height: 1.5;
	font-size: var(--24px, 24px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--sans-hed);
	color: var(--color-heading);
}

h1 {
	font-size: var(--128px, 128px);
	line-height: 1;
}

h2 {
	font-size: var(--48px, 48px);
	line-height: 1;
}

h3 {
	font-size: var(--32px, 32px);
	line-height: 1;
}

h4 {
	font-size: var(--22px, 22px);
	line-height: 1.125;
}

h5 {
	font-size: var(--22px, 22px);
}

h6 {
	font-size: var(--20px, 20px);
}

p,
li {
	margin: 1em auto;
}

svg {
	display: block;
	width: 100%;
	height: auto;
}

section {
	margin: 0 auto 4rem auto;
	max-width: var(--col-width);
}

@media screen and (max-width: 768px) {
	body {
		font-size: var(--20px, 20px);
	}

	h1 {
		font-size: var(--36px, 36px);
	}

	h2 {
		font-size: var(--28px, 28px);
	}

	h3 {
		font-size: var(--22px, 22px);
	}
}

button,
.btn {
	appearance: none;
	cursor: pointer;
	box-shadow: 0 8px 0 var(--color-red);
	border: 4px solid var(--color-fg);
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0.5em;
	transition:
		transform 0.1s ease-in-out,
		box-shadow 0.1s ease-in-out;
}

button:hover,
.btn:hover {
	transform: translate(0, 4px);
	box-shadow: 0 4px 0 var(--color-primary-dark);
}

span.he {
	color: var(--color-blue-aaa);
	font-weight: bold;
}

span.she {
	color: var(--color-pink-aaa);
	font-weight: bold;
}

span.neutral {
	color: var(--color-orange-aaa);
	font-weight: bold;
}

section#all {
	max-width: calc(var(--col-width) * 1.5);
}

section#all h3 {
	text-align: center;
}
