@import "variables.css";
@import "normalize.css";
@import "font.css";
@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Kranky&family=Love+Ya+Like+A+Sister&display=swap');


/* colors defined in variables.css */
:root {
	/* font */
	--sans: "Baloo Bhai", "Atlas Grotesk", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
	--serif: "Atkinson", "Tiempos Text", Iowan Old Style, Times New Roman, Times, serif;
	--serif-hed: "Love Ya Like A Sister", "Kranky", Iowan Old Style, Times New Roman, Times, serif;
	--mono: Menlo, Consolas, Monaco, monospace;

	/* z-index */
	--z-bottom: -100;
	--z-middle: 0;
	--z-top: 100;
	--z-overlay: 1000;

	/* presets (used in reset.css) */
	--border-radius: 12px;
	--font-body: var(--sans);
	--font-form: var(--serif);
	--color-bg: var(--color-yellow);
	--color-fg: var(--color-gray-900);
	--color-primary: var(--color-red);
	--color-primary-dark: var(--color-red-dark);
	
	--color-link: currentColor;
	--color-link-hover: currentColor;
	--color-focus: var(--color-purple);
	--color-mark: var(--color-purple);
	--color-selection: var(--color-gray-300);
	--color-border: var(--color-gray-300);
	--color-button-bg: var(--color-primary);
	--color-button-fg: var(--color-white);
	--color-button-hover: var(--color-button-bg);
	--color-input-bg: var(--color-gray-50);
	--color-input-fg: var(--color-gray-900);
	--color-placeholder: var(--color-gray-500);

	/* "1" second duration */
	--1s: 1ms;
}

/* dark theme */
/* @media screen and (prefers-color-scheme:dark) {
	:root {
		
	}
} */

@media screen and (prefers-reduced-motion: no-preference) {
	:root {
		--1s: 1s;
	}
}

body {
	line-height: 1.5;
	font-size: var(--24px, 24px);
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--serif-hed);
}

h1 {
	font-size: var(--72px, 72px);
	line-height: 1;
	font-weight: 700;
}

h2 {
	font-size: var(--48px, 48px);
	line-height: 1.2;
	font-weight: 700;
}

h3 {
	font-size: var(--36px, 36px);
	line-height: 1.2;
	font-weight: 700;
}

h4 {
	font-size: var(--28px, 28px);
}

h5 {
	font-size: var(--22px, 22px);
}

h6 {
	font-size: var(--20px, 20px);
}

p, li {
	margin: 1em auto;
}

svg {
	display: block;
	width: 100%;
	height: auto;
}

section {
	margin-bottom: 2em;
}

@media screen and (max-width: 768px) {
	body {
		font-size: var(--20px, 20px);
	}

	h1 {
		font-size: var(--36px, 36px);
	}

	h2 {
		font-size: var(--28px, 28px);
	}

	h3 {
		font-size: var(--24px, 24px);
	}
}	

button, .btn {
	appearance: none;
	cursor: pointer;
	box-shadow: 0 8px 0 var(--color-primary-dark);
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0.5em;
	transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

button:hover, .btn:hover {
	transform: translate(0, 4px);
	box-shadow: 0 4px 0 var(--color-primary-dark);
}
